<target><candidate/></target>
<config><configure xmlns="urn:nokia.com:sros:ns:yang:sr:conf">
  <card>
    <slot-number>[/"slot-number/"]</slot-number>
    <card-type>['equipped-type']</card-type>
  </card>
</configure>
</config>

