<filter>
  <state xmlns="urn:nokia.com:sros:ns:yang:sr:state">
    <router>
    <router-name>Base</router-name>
      <interface>
        <interface-name/><if-oper-status/><protocol/><last-oper-change/><statistics/>
      </interface>
    </router>
  </state>
</filter>
