<filter>
  <state xmlns="urn:nokia.com:sros:ns:yang:sr:state">
    <router>
    <router-name>Base</router-name>
      <bgp>
        <neighbor>
          <ip-address/>
          <statistics>
            <session-state/><last-state/><last-event/><last-error/><last-established-time/>
            <family-prefix><ipv4/><vpn-ipv4/></family-prefix>
          </statistics>
        </neighbor>
      </bgp>
    </router>
  </state>
</filter>
