<filter>
  <state xmlns="urn:nokia.com:sros:ns:yang:sr:state">
    <system><oper-name/></system>
    <card>
      <slot-number/><equipped-type/><hardware-data><part-number/><serial-number/></hardware-data>
      <mda>
        <mda-slot/><equipped-type/><hardware-data><part-number/><serial-number/></hardware-data>
      </mda>
    </card>
  </state>
</filter>
