<filter>
  <state xmlns="urn:nokia.com:sros:ns:yang:sr:state">
{% for port in port_list %}
    <port>
      <port-id>{{port}}</port-id>
      <statistics/>
    </port>
{% endfor %}
  </state>
</filter>

